* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    margin:0; padding:0;
    background-color:white;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/**
 * VIEWPORT
 */

#viewport {
    position:absolute;
    left:0; top:0; right:0; bottom:0;
    background-color:white;
}


/**
 * MSG
 */

.msg {
    position:absolute;
    left:0; right:0;
    font-size:14px; line-height:1.3;
    text-align:center;
    color:#666;
}


/**
 * TEXT LIST
 */

#text_list {
    position:absolute;
    left:20px; top:20px; right:20px; bottom:230px;
    overflow:auto;
    border-bottom:solid 1px #ddd;
}

#text_list div div {
    transition:color 1s linear;
}

#text_list div div.last {
    color:red;
}


/**
 * LISTENING, PROCESSING
 */

#listening,
#processing {
    display:none;
    position:absolute;
    left:0; right:0; bottom:190px;
    text-align:center;
    font-size:12px;
    color:#999;
}


/**
 * TAP
 */

#tap {
    position:absolute;
    left:50%; bottom:50px;
    width:100px; height:100px;
    margin-left:-60px;
    background-color:#99f;
    border:solid 10px #009;
    border-radius:60px;
    font-size:12px; line-height:100px;
    text-align:center;
    text-transform:uppercase;
    color:white;
}


/**
 * ENGINE
 */

.engine {
    position:absolute;
    left:10px; bottom:10px;
    font-size:10px;
    color:#999;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
   
}

